@import url(http://fonts.googleapis.com/css?family=Roboto:300);

body
{
	background-color: #F2F2F2;
	font-family: Roboto;
	color: black;
	height: 100%;
}

footer
{
	padding-bottom: -20px;
}

.container
{
	padding-top: 20px;
	background-color: white;
	width: 750px;
}

.tabbable .nav > li > a 
{
  	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
   	transition: .7s;
}

.tabbable .nav > li > a:hover 
{
	background-color: #F2F2F2;
}
.tabbable .nav > li[class="active"] > a 
{
	background-color: white;
	font-weight: bolder;
}

i
{
	float: left;
}

p
{
	font-size: 16px;
}


a
{
	color: #92B25C;
}

a:hover
{
	text-decoration: none;
	font-weight: bold;
	color: #749b46;
}

#img
{
	background-color: #F2F2F2;
}

/*************** css contact begin ***************/
#gmail:hover
{
	color: #dd4b39;
}

#github:hover
{
	color: #4183C4;
}

#twitter:hover
{
	color: #00aced;
}

#skype:hover
{
	color: #12A5F4;
}

#instagram:hover
{
	color: #517fa4;

}

#instagram, #skype, #twitter, #github, #gmail
{

	color: grey;
  	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
   	transition: .5s;
}

#contact_info
{
	padding-top: 5px; 
	font-size: 16px;
}

/*************** css contact end ***************/

/*************** tabs title ***************/
.title
{
	margin-right: -5px;
}

.help-block:hover
{
	color: black;
}

/*************** vertical bars & skill ***************/
.skill
{
	margin-right: 2px solid white;
}

.progress 
{
	background-color: #F2F2F2;
  	height: 360px !important;
  	width: 60px;
    position: relative;
} 

.progress-bar 
{
    width: 100% !important;
  	height: 100px;
    bottom: 0;
    position: absolute;
}

.C 
{
  	height: 210px;
  	background-color: #566eb5;
  	-webkit-transition:.1s;
   	transition: .5s;	
}

.htmlcss 
{
  	height: 140px;
  	background-color: #f16529;
  	-webkit-transition:.1s;
   	transition: .5s;	
}

.python 
{
  	height: 85px;
  	background-color: #5cb85c;
  	-webkit-transition:.1s;
   	transition: .5s;	
}

.javascript 
{
  	height: 50px;
  	background-color: #f0db4f;
  	-webkit-transition:.1s;
   	transition: .5s;	
}

#barra:hover .python
{
	background-color: #4FA059;
  	-webkit-transition:.2s;
   	transition: .5s;	
}

#barra:hover .javascript
{
	background-color: #E3C34C;
  	-webkit-transition:.2s;
   	transition: .5s;	
}

#barra:hover .htmlcss
{
	background-color: #e44d26;
  	-webkit-transition:.2s;
   	transition: .5s;	
}

#barra:hover .C
{
	background-color: #4956B2;
    -webkit-transition: .2s;
   	transition: .5s;	
}

.progress-bar-primary {
	background-color: #dd4b39;
}

/***************  vertical bars & skill end ***************/

