/*!
 * IMPORTS
 **/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);

/*!
 * GENERAL
 * STYLE
 **/
html,
body { height: 100%; min-height: 100%; }
body { background: #fafafa; font-family: 'Muli'; margin-left: 0;}
body.no-overflow { overflow: hidden; }
a,
a:active,
a:focus { color: #00B0FF; transition: .3s; text-decoration: none; font-weight: 400; }
a:hover { text-decoration: none; color: #4DD0E1; }
p { font-weight: 400; font-size: 16px; color: #666; }
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Playfair Display';
   color: #777;
}

.icon { position: relative; }

.icon .icon-wrapper {
   font-size: 24px;
   margin-bottom: 5px;
}

.icon .icon-inner {
   position: absolute;
   left: 50%;
   margin-left: -10px;
   color: red
}

.background-title {
   position: absolute;
   font-family: 'Muli';
   font-weight: bold;
   z-index: 0;
   -webkit-user-select: none; /* Chrome/Safari */        
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+ */
}

.background-title.about {
   color: rgba(0, 0, 0, .08);
   top: 0;
   line-height: 200px;
   margin-left: 0;
   font-size: 300px;
}

.background-title.services {
   color: rgba(0, 0, 0, .06);
   top: 0;
   line-height: 155px;
   margin-left: 0;
   font-size: 254px;
}

.background-title.contact {
   color: rgba(255, 255, 255, .08);
   top: 0;
   line-height: 120px;
   margin-left: 0;
   font-size: 240px;
}

/*!
 * SECTION GENERAL
 * STYLE
 **/
.section {
   position: relative;
   padding: 80px 0;
   background-color: #fff;
}

.section.doble-padding { padding: 160px 0; }
.section.no-padding-bottom { padding-bottom: 0; }

.section.white {
   background-color: #eee;
}

.section.section-img {
   background-image: url("../img/banner.jpg");
   background-position: center;
   background-size: cover;
   height: 400px;
   padding: 0;
}

.section .main-title h1 {
   font-size: 38px;
   padding: 0;
   margin: 0;
   position: absolute;
   top: 50%;
   font-weight: 700;
   margin-top: -46px;
   color: #fff;
}

.section .main-title h1 small {
   color: #ccc;
   display: block;
   font-size: 20px;
   font-weight: 400;
}

/*!
 * PORTFOLIO
 * STYLE
 **/
.no-padding { padding: 0px !important; }

/*!
 * FOOTER
 * STYLE
 **/
.footer {
   position: relative;
   padding: 100px 0;
   background-color: #1B1B25; }

.footer h1.big-footer-text {
   color: #fff;
   font-weight: 700;
   margin: 0;
}

.footer h1.big-footer-text small {
   font-family: 'Muli';
   display: block;
   margin-top: 10px;
   position: relative;
   font-size: 18px;
   color: #ccc;
}

.footer-dark {
   padding: 20px 0;
   background-color: #070713; }

.footer-dark h5.small-footer-text {
   text-transform: uppercase;
   margin: 0;
   padding: 0;
   color: #fff; }