@import url(https://fonts.googleapis.com/css?family=Roboto:400);
html,
body { height: 100%; min-height: 100%; }
body { background: rgba(0, 0, 0, .15); font-family: 'Roboto'; letter-spacing: 2px; font-weight: 400; }
a,
a:active,
a:focus { color: #55a79a; transition: .3s; text-decoration: none; font-weight: 400; }
a:hover { text-decoration: none; color: #44857b; }
.content-wrapper { display: table; height: 100%; width: 100%; margin: 0 auto; padding: 30px 0 20px; }
.content-caption { display: table-cell; vertical-align: middle; z-index: 3; position: relative; }
.card { padding: 20px; background-color: #fff; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); border-top: 1px solid #f8f8f8; margin-bottom: 10px; }
.card img { width: 100px; border-radius: 50%; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }
.main-data { display: inline-block; margin-left: 20px; vertical-align: middle; color: #55a79a; }
.main-data h4:first-child { margin-bottom: -5px; }
.skils { text-transform: uppercase; margin-bottom: 5px; }
.progress { height: 8px; border-radius: 0; box-shadow: none; background-color: #ddd; margin-bottom: 10px; }
.progress-bar { background-color: #55a79a; }
.city { margin: 0; color: #999; }