@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body
{
   font-family: 'Open Sans';
   font-weight: 300;
}

p
{
   color: #2F2F2F;
   font-size: 16px;
   text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6
{
   font-family: 'Lato';
   font-weight: 300;
}

a
{
   color: #2F2F2F;
   font-weight: 600;
   text-decoration: none;
   transition: 0.4s;
}

a:hover
{
   color: #7AC5CD;
   text-decoration: none;
}

legend
{
   border-bottom: 1.5px solid #e5e5e5;
}

hr
{
   border-bottom: 1.5px solid #7AC5CD;
}

.no-top
{
   margin-top: 0;
}

.font-medium
{
   font-weight: 400;
}

/* FRONT BEGIN */
.front
{
   margin-top: 3%;
   margin-bottom: 6%;
}

.front-title
{
   font-size: 82px;
}

.front-title-end
{
   color: #7AC5CD;
}

.front-subtitle
{
   margin-top: 0;
   margin-bottom: 0;
}
/* FRONT END 7AC5CD 63B8FF*/

.img-profile
{
   max-width: 200px;
   max-height: 200px;
   margin: 0 auto;
}

.section
{
   padding-top: 50px;
}

.section-bg
{
   background-color: #f9f9f9;
   padding-bottom: 50px;
   /*background-color: rgba(122, 197, 205, 0.05);*/
}

.section-contact
{
   background-image: url(http://i.imgur.com/wCMWkzI.jpg);
   background-attachment: fixed;
}

.section-title
{
   color: #fff;
   background-color: #7AC5CD;
   padding: 5px;
   margin: 0;
}

.progress
{
   height: 25px;
   border-radius: 0;
   box-shadow: none;
   background-color: rgba(122, 197, 205, 0.15);
}

.progress-bar
{
   line-height: 25px;
   background-color: #7AC5CD;
   box-shadow: none;
}

.skill-name
{
   padding-left: 10px;
}

.edu-help
{
   color: #7AC5CD
}

.OneSecDelay
{
   -webkit-animation-delay: .1s;
}

.TwoSecDelay
{
   -webkit-animation-delay: .2s;
}

.ThreeSecDelay
{
   -webkit-animation-delay: .3s;
}

.FourSecDelay
{
   -webkit-animation-delay: .4s;
}

.FiveSecDelay
{
   -webkit-animation-delay: .5s;
}

.fa-at,
.fa-github,
.fa-skype
{
   color: #7AC5CD;
   font-size: 30px !important;
}